body {
    font-family: 'Impact', sans-serif; /* Usar uma fonte mais limpa */
    background-color: rgba(0,0,0,0.4);
    background-image: repeating-linear-gradient(
        45deg,
        #bfeded,
        #bfeded 10px,
        #F0FFF0 10px,
        #F0FFF0 20px
    );
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conte�do na vertical */
    justify-content: center; /* Centraliza o conte�do na horizontal */
    height: 100vh; /* Torna a altura do body 100% da tela */
}

h1 {
    font-family: 'Impact', cursive; /* Fonte cursiva, ou 'Brush Script MT' se preferir e estiver dispon�vel */
    text-align: center;
    color: #002c2c; /* Cor do texto branco */
    font-size: 48px; /* Tamanho maior do texto */
    margin-top: 20px;
    text-shadow: 20px 20px 40px rgba(1, 1, 1, 1.6); /* Sombra preta com certa transpar�ncia */
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    background-image: repeating-linear-gradient(
        45deg,
        #bfeded,
        #bfeded 10px,
        #F0FFF0 10px,
        #F0FFF0 20px
    );
    align-items: center; /* Centraliza o conte�do do modal */
    justify-content: center; /* Centraliza o conte�do do modal */
    display: flex; /* Permite centralizar com flexbox */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra para destacar o modal */
    width: 80%; /* Ajusta a largura para mobile-first */
    max-width: 500px; /* M�ximo de largura */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

input[type="text"], button {
    width: 100%; /* Aproveita a largura total do modal */
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

button {
    font-family: 'Impact', sans-serif;
    background-color: #008cba; /* Cor azul para destaque */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005f7a; /* Cor mais escura ao passar o mouse */
}
